#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search-card {
  display: flex;
  border-radius: 20px;
  /* box-shadow: 0px 0px 10px 10px #c1d4bc; */
  box-shadow: 0px 0px 10px 10px #b3c5a4;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50em;
  height: 30em;
}

.banlist {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  background-color: aquamarine;
  border: 2px solid brown;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 15%;
  overflow-y: auto;
  scrollbar-width: thin;
}

.pkmnImage {
  height: 10em;
}

.loading {
  height: 2em;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
}